.post{
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.post_header{
  display: flex;
  margin-bottom: 10px;
}

.post_info > p{
  font-size: 12px;
  color: gray;
}

.post_info{
  margin-left: 10px;
}

.post_body{
  overflow-wrap: anywhere;
}

.post_info > h2{
  font-size: 15px;
}

.post_buttons{
  display: flex;
  justify-content: space-evenly;
}