.sidebar{
  position: sticky;
  top: 80px;
  flex: 0.15;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  margin-left: 369px;
}

.sidebar_avatar{
  margin-bottom: 10px;
}

.sidebar_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
}

.sidebar_top > img{
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar_stat{
  display: flex;
  justify-content: space-between;
}

.sidebar_stat > p{
  color: gray;
  font-size: 13px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.sidebar_stat_number{
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar_description_Profile{
  font-size: 12px;
  font-weight: 400;
  color: gray;
  margin-top: -15px;
  margin-bottom: -5px;
}

.sidebar_stats{
  padding: 10px;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.sidebar_top > h4{
  color: gray;
  font-size: 12px;
}

.sidebar_top > h2{
  font-size: 18px;
}

.sidebar_bottom{
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
}

.sidebar_bottom > p{
  font-size: 13px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
}

.recentItem{
  display: flex;
  font-size: 13px;
  color: gray;
  cursor: pointer;
  font-weight: bolder;
  padding: 5px;
  font-family: Arial, sans-serif;
}
.recentItem:hover{
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}